<!DOCTYPE html>
<html>
  <head>
    <title>FetchChallenge</title>
    <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
    <meta property="og:title" content="Fetch Challenge" />
    <meta property="og:url"
       content="https://fetch-challenge.com/#/"
     />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <script type="text/javascript">
      window.currentUser = {
        "id": "<%= current_user.id %>",
        "username": "<%= current_user.username %>"
      }
      </script>
    
    
    <% end %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
